@{
    ViewData["Title"] = "Página do ALUNO";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo aos próximos anos mais difíceis da sua vida!</h1>
    <p>"Educação nunca foi despesa. Sempre foi investimento com retorno garantido." - <a href="https://pt.wikipedia.org/wiki/William_Arthur_Lewis" target="_blank">Sir Athur Lewis</a></p>
</div>
